<app-stack direction="column" class="form">
  <h1 class="adminTitle">{{ isCreate ? 'Создание' : 'Редактирование' }} материалов</h1>

  <app-admin-form [form]="materialForm" (handleSubmit)="submit()">
    <app-stack direction="column" alignItems="end">
      <!-- Выбор типа материала -->
      <app-admin-input
        [control]="materialForm.get('typeId')!"
        [props]="{
          id: 'materialtype',
          type: 'select',
          required: true,
          placeholder: 'Выберите тип материала',
        }"
        [options]="types"
        optionLabel="label"
        optionValue="value"
      ></app-admin-input>
      <app-admin-input
        [control]="materialForm.get('name')!"
        [props]="{
          id: 'materialName',
          type: 'text',
          required: true,
          placeholder: 'Введите название материала',
        }"
      ></app-admin-input>
      <app-admin-input
        [control]="materialForm.get('price')!"
        [props]="{
          id: 'materialPrice',
          type: 'number',
          required: true,
          placeholder: 'Введите себестоимость материала (₽/лист)',
        }"
      ></app-admin-input>
      <app-admin-input
        [control]="materialForm.get('length')!"
        [props]="{
          id: 'materialLength',
          type: 'number',
          required: true,
          placeholder: 'Введите длину (бОльшую часть) (мм)',
        }"
      ></app-admin-input>
      <app-admin-input
        [control]="materialForm.get('width')!"
        [props]="{
          id: 'materialWidth',
          type: 'number',
          required: true,
          placeholder: 'Введите ширину (мм)',
        }"
      ></app-admin-input>
      <app-admin-input
        [control]="materialForm.get('pricePerM2')!"
        [props]="{
          id: 'materialPricePerM2',
          type: 'number',
          required: true,
          placeholder: 'Себестоимость ₽/м²',
        }"
      ></app-admin-input>
      <app-admin-input
        [control]="materialForm.get('active')!"
        [props]="{
          id: 'materialCategoryActive',
          type: 'select',
          placeholder: 'Активно?',
          optionsBool: true,
          required: true,
        }"
      ></app-admin-input>

      <app-admin-input
        *ngIf="materialForm.get('active')?.value === false"
        [control]="materialForm.get('comment')!"
        [props]="{
          id: 'materialComment',
          type: 'text',
          required: false,
          placeholder: 'Введите комментарий',
        }"
      ></app-admin-input>
      <!-- Поля для LDSP -->
      <ng-container
        *ngIf=hasTexture>
        <app-admin-images-loader-single
          [control]="materialForm.get('texture')!"
          [required]="false"
        ></app-admin-images-loader-single>
      </ng-container>

      <app-stack>
        <app-admin-button *ngIf="!isCreate" (handleClick)="deleteChangeOpen()" variant="red">
          Удалить
        </app-admin-button>

        <app-admin-button type="submit">
          {{ isCreate ? 'Создать' : 'Редактировать' }}
        </app-admin-button>
      </app-stack>
    </app-stack>
  </app-admin-form>
</app-stack>

<!-- Модалка удаления -->
<app-admin-modal [isOpen]="isOpenDelete" (handleChangeOpen)="deleteChangeOpen()">
  <app-stack direction="column" alignItems="center">
    <h4 class="adminTitle">Вы действительно хотите удалить?</h4>

    <app-stack>
      <app-admin-button (handleClick)="deleteChangeOpen()" variant="gray">Отмена</app-admin-button>
      <app-admin-button (handleClick)="delete()" variant="red">Удалить</app-admin-button>
    </app-stack>
  </app-stack>
</app-admin-modal>
