<app-catalog-button></app-catalog-button>

<app-home-overlay></app-home-overlay>

<app-home-catalog></app-home-catalog>

<app-home-about></app-home-about>

<app-preview-calculator></app-preview-calculator>

<!--
<h1 class="font-xl">font-xl</h1>
<h2 class="font-l">font-l</h2>
<h3 class="font-m">font-m</h3>
<p class="font-s">font-s</p>

<h2 class="pageTitle">pageTitle</h2>

<br>
<p class="w100">Какой-то текст шрифт Jost.</p>
<p class="w200">Какой-то текст шрифт Jost.</p>
<p class="w300">Какой-то текст шрифт Jost.</p>
<p class="w400">Какой-то текст шрифт Jost.</p>
<p class="w500">Какой-то текст шрифт Jost.</p>
<p class="w600">Какой-то текст шрифт Jost.</p>
<p class="w700">Какой-то текст шрифт Jost.</p>
<p class="w800">Какой-то текст шрифт Jost.</p>
<p class="w900">Какой-то текст шрифт Jost.</p>
<br>
<p class="w100 italic">Какой-то текст шрифт Jost Italic.</p>
<p class="w200 italic">Какой-то текст шрифт Jost Italic.</p>
<p class="w300 italic">Какой-то текст шрифт Jost Italic.</p>
<p class="w400 italic">Какой-то текст шрифт Jost Italic.</p>
<p class="w500 italic">Какой-то текст шрифт Jost Italic.</p>
<p class="w600 italic">Какой-то текст шрифт Jost Italic.</p>
<p class="w700 italic">Какой-то текст шрифт Jost Italic.</p>
<p class="w800 italic">Какой-то текст шрифт Jost Italic.</p>
<p class="w900 italic">Какой-то текст шрифт Jost Italic.</p>
<br>
<p class="w100 avenir">Какой-то текст шрифт AvenirNext.</p>
<p class="w200 avenir">Какой-то текст шрифт AvenirNext.</p>
<p class="w300 avenir">Какой-то текст шрифт AvenirNext.</p>
<p class="w400 avenir">Какой-то текст шрифт AvenirNext.</p>
<p class="w500 avenir">Какой-то текст шрифт AvenirNext.</p>
<p class="w600 avenir">Какой-то текст шрифт AvenirNext.</p>
<p class="w700 avenir">Какой-то текст шрифт AvenirNext.</p>
<p class="w800 avenir">Какой-то текст шрифт AvenirNext.</p>
<p class="w900 avenir">Какой-то текст шрифт AvenirNext.</p>
<br>
<p class="w100 avenir italic">Какой-то текст шрифт AvenirNext Italic.</p>
<p class="w200 avenir italic">Какой-то текст шрифт AvenirNext Italic.</p>
<p class="w300 avenir italic">Какой-то текст шрифт AvenirNext Italic.</p>
<p class="w400 avenir italic">Какой-то текст шрифт AvenirNext Italic.</p>
<p class="w500 avenir italic">Какой-то текст шрифт AvenirNext Italic.</p>
<p class="w600 avenir italic">Какой-то текст шрифт AvenirNext Italic.</p>
<p class="w700 avenir italic">Какой-то текст шрифт AvenirNext Italic.</p>
<p class="w800 avenir italic">Какой-то текст шрифт AvenirNext Italic.</p>
<p class="w900 avenir italic">Какой-то текст шрифт AvenirNext Italic.</p>
<br> -->
