.stack {
  width: 100%;
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}
.table {
  border-radius: var(--admin-radius-m);
  border: 2px solid var(--admin-gray);
}
