<app-stack direction="column" class="form">
  <h1 class="adminTitle">{{ isCreate ? 'Создание' : 'Редактирование' }} Category</h1>

  <app-admin-form [form]="categoryForm" (handleSubmit)="submit()">
    <app-stack direction="column" alignItems="end">
      <app-admin-input
        [control]="categoryForm.get('name')!"
        [props]="{
          id: 'categoryName',
          type: 'text',
          required: true,
          placeholder: 'Введите название',
        }"
      ></app-admin-input>

      <app-admin-images-loader-multiple
        [control]="categoryForm.get('images')!"
        [required]="true"
        [multiple]="false"
      ></app-admin-images-loader-multiple>

      <app-stack>
        <app-admin-button *ngIf="!isCreate" (handleClick)="deleteChangeOpen()" variant="red">
          Удалить
        </app-admin-button>

        <app-admin-button type="submit">
          {{ isCreate ? 'Создать' : 'Редактировать' }}
        </app-admin-button>
      </app-stack>
    </app-stack>
  </app-admin-form>
</app-stack>

<!-- Модалка удаления -->
<app-admin-modal [isOpen]="isOpenDelete" (handleChangeOpen)="deleteChangeOpen()">
  <app-stack direction="column" alignItems="center">
    <h4 class="adminTitle">Вы действительно хотите удалить?</h4>

    <app-stack>
      <app-admin-button (handleClick)="deleteChangeOpen()" variant="gray">Отмена</app-admin-button>
      <app-admin-button (handleClick)="delete()" variant="red">Удалить</app-admin-button>
    </app-stack>
  </app-stack>
</app-admin-modal>
