.catalogButtonContainer {
  position: fixed;
  top: 832px;
  right: 120px;
  z-index: var(--index-catalog-btn);

  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.1);
  padding: 5px;
}

.catalogButton {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-text-color);
}

@media screen and (max-height: 1080px) {
  .catalogButtonContainer {
    top: auto;
    bottom: 100px;
  }
}

@media screen and (max-width: 480px) {
  .catalogButtonContainer {
    width: 80px;
    height: 80px;
    right: 30px;
    border: 3px solid rgba(255, 255, 255, 0.1);
  }
}
