:host {
  width: 100%;
}

.container {
  width: 100%;
  position: relative;
  z-index: var(--admin-index-input);
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input {
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: var(--admin-radius-m);
  border: 2px solid var(--admin-gray);
  background: none;
  outline: none;

  &:focus {
    outline: 0;
    border-color: var(--admin-main);
  }

  &.textarea {
    min-width: 100%;
    max-width: 100%;
    height: 120px;
  }
  &.select {
    appearance: none;
    background: url(/shared/assets/admin/arrow-dropdown.png) no-repeat right 10px center;
    background-size: 12px;
    padding-right: 30px;
  }
}

.label {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  display: block;
  z-index: -1;
  top: 12px;
  left: 15px;
  color: var(--admin-gray);
  transition: all 0.2s ease-in-out;

  &.focused {
    z-index: 1;
    font-size: 14px;
    top: -10px;
    background: var(--admin-bg-color);
    padding: 0 6px;
    left: 10px;
    color: var(--admin-main);
  }
}

.dropdown {
  position: relative;
  width: 100%;
}

.dropdown-toggle {
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  border-radius: var(--admin-radius-m);
  border: 2px solid var(--admin-gray);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url(/shared/assets/admin/arrow-dropdown.png) no-repeat right 10px center;
  background-size: 12px;
  padding: 10px 30px 10px 20px;

  &:focus {
    outline: 0;
    border-color: var(--admin-main);
  }
}

.dropdown-menu {
  position: relative;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  background: var(--admin-bg-color);
  border: 2px solid var(--admin-gray);
  border-radius: var(--admin-radius-m);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 5px;
}

.dropdown-item {
  padding: 10px 20px;
  cursor: pointer;

  &:hover {
    background-color: var(--admin-gray-light);
  }

  label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: var(--admin-gray);
    user-select: none;
  }

  input[type='checkbox'] {
    width: 16px;
    height: 16px;
    accent-color: var(--admin-main);
    margin: 0;
  }
}

.errors {
  color: var(--admin-red);
}

.changeShowPswd {
  position: absolute;
  top: 12px;
  right: 10px;
  width: 18px;
  height: 18px;
  background: url(/shared/assets/admin/show.png) center/contain no-repeat;
  cursor: pointer;

  &.open {
    background-image: url(/shared/assets/admin/hidden.png);
  }
}
.ng-dirty {
}
