<app-stack direction="column" gap="8px">
  <div class="fileLoader">
    <input class="fileLoader__input" name="images" type="file" (change)="onFileSelected($event)" />

    <label for="images" class="fileLoader__btn">
      <img src="/shared/assets/admin/download.png" alt="Выбрать файл" />
      <span>Выберите изображение</span>
    </label>
  </div>

  <div class="errors" *ngIf="control.invalid && control.touched">
    <div *ngIf="control.errors?.['required']">Это поле не может быть пустым.</div>
  </div>

  <div class="preview" *ngIf="imagePath">
    <img [src]="imagePath" alt="Preview" class="preview__img" />
    <button type="button" class="preview__delete" (click)="removeFile()"></button>
  </div>
</app-stack>
