:host {
  width: 100%;
  display: block;
}

.swiper {
  // border: 2px solid red;
  width: 85%;
  margin: 10px auto;
  padding-bottom: 10px;
  display: flex;

  &__slide {
    border-radius: var(--border-radius-m);
    overflow: hidden;
    position: relative;
    width: 370px;
    aspect-ratio: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .title {
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: white;
      padding: 5px;
    }
  }
}

/* Стили для scrollbar */
.swiper-scrollbar {
  background-color: #d3d3d3 !important; /* Цвет фона scrollbar */
}

.swiper-scrollbar-drag {
  background: #fff !important; /* Цвет движка scrollbar */
}

@media screen and (max-width: 1024px) {
  :host {
    width: 94%;
    margin-left: 3%;
  }
  .swiper {
    width: var(--tablet-width);
    margin-left: 21.5%;

    &__slide {
      width: 300px;
      .title {
        font-size: 14px;
      }
    }

    &:last-child {
      margin-right: 0; // Уберите отступ у последнего слайда
    }
  }
}

@media only screen and (max-width: 768px) {
  .swiper-container {
    width: 100%;
    margin-left: 0;
    margin-top: 2%;
    margin-bottom: 2%;

    .swiper-slide {
      width: 100%;
      font-size: 14px;

      img {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .swiper {
    width: 100%;
    margin: 0;
    padding: 0 5px;

    &__slide {
      width: 100%;
      aspect-ratio: auto;

      img {
        width: 100%;
        height: auto;
      }

      .title {
        font-size: 12px;
        bottom: 5px;
        left: 5px;
        padding: 2px;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .swiper {
    // width: 100%;
    margin: 0 auto;

    &__slide {
      width: 100%;
      margin: 0 auto;
      aspect-ratio: auto;

      img {
        width: 100%;
        height: auto;
      }

      .title {
        font-size: 12px;
        bottom: 5px;
        left: 5px;
        padding: 2px;
      }
    }
  }
}
