<app-stack gap="16px" direction="column">
  <app-admin-search (searchChange)="onSearchChange($event)"></app-admin-search>

  <div class="editList">
    <article
      class="editList__item"
      *ngFor="let types of (typess$ | async) ?? [] | filterSearch: searchText : ['id', 'name']"
      (click)="changeCur(types)"
    >
      <p [appHighlight]="types.id!.toString()" [search]="searchText"></p>
      <p [appHighlight]="types.name" [search]="searchText"></p>
    </article>
  </div>
</app-stack>
