.logList {
  width: var(--admin-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 10px;

    h3 {
      font-size: 20px;
      width: 170px;
    }
  }
}

.logItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  .id {
    width: 60px;
    font-size: 14px;
    font-weight: 400;
    text-align: end;
  }

  &__container {
    flex: 1;
    border: 2px solid var(--admin-dark-gray);
    border-radius: var(--admin-radius-m);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding-left: 10px;
    overflow: hidden;
    box-shadow: var(--admin-box-shadow);

    h4 {
      &.authentication {
        color: var(--admin-dark-gray);
      }

      &.create {
        color: var(--admin-green);
      }

      &.update,
      &.upload {
        color: var(--admin-main);
      }

      &.delete {
        color: var(--admin-red);
      }
    }

    .performedBy {
      flex: 1;
      text-align: end;
    }

    .performedAt {
      margin-left: 15px;
      padding: 10px 20px;
      color: var(--admin-white);
      background-color: var(--admin-dark-gray);
    }
  }
}
