:host {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.entities {
  width: var(--desktop-width);
  margin: 0 auto;

  &__item {
    width: 150px;
    aspect-ratio: 1;
    position: relative;
    border-radius: 10px;
    overflow: hidden;

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      max-width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.grids {
  width: 100%;

  --swiper-scrollbar-sides-offset: calc((100% - var(--desktop-width)) / 2);
  --swiper-scrollbar-top: 0;
  --swiper-scrollbar-bottom: auto;
  --swiper-scrollbar-size: 8px;

  &__slide {
    display: block;
    width: fit-content;
  }
}

.button {
  margin: 0 calc((100% - var(--desktop-width)) / 2) 0 auto;
}
