<main class="content">
  <div class="container">
    <div class="container__catalog">
      <h2 class="container__title">{{ catalogTitle }}</h2>
      <ul class="list">
        <li><a [routerLink]="[routes]" routerLinkActive="active">Шкафы-купе</a></li>
        <li><a [routerLink]="[routes]" routerLinkActive="active">Кровати</a></li>
        <li><a [routerLink]="[routes]" routerLinkActive="active">Тумбы</a></li>
        <li><a [routerLink]="[routes]" routerLinkActive="active">Комоды</a></li>
        <li><a [routerLink]="[routes]" routerLinkActive="active">Туалетные столики</a></li>
        <li><a [routerLink]="[routes]" routerLinkActive="active">Угловые сектора</a></li>
        <li><a [routerLink]="[routes]" routerLinkActive="active">Столы</a></li>
        <li><a [routerLink]="[routes]" routerLinkActive="active">Стенки "Веста"</a></li>
        <li><a [routerLink]="[routes]" routerLinkActive="active">Рисунки для дверей</a></li>
        <li><a [routerLink]="[routes]" routerLinkActive="active">Серии товаров</a></li>
        <li><a [routerLink]="[routes]" routerLinkActive="active">Мебель на заказ</a></li>
      </ul>
    </div>
    <div class="container__image">
      <img src="../../../shared/assets/images/footer.png" alt="Стенки 'Веста'" />
    </div>
  </div>
</main>
