.stack {
  width: 100%;
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.grid {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 1fr 1fr; /* Четыре равных столбца */
  gap: 10px; /* Расстояние между ячейками */
  padding: 10px;
  align-items: center;
  justify-items: center;
  background: none;
}

.short-grid {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr; /* Два равных столбца */
  gap: 10px; /* Расстояние между ячейками */
  padding: 10px;
  align-items: center;
  justify-items: center;
}
