.content {
  .container {
    display: flex;
    // justify-content: space-between;
    width: 90%;
    margin: 0 auto;

    &__about {
      color: #000;
      background-color: #fff;
      // padding: 3rem;
      flex: 1; /* Каждый блок займет одинаковое пространство */
      margin: 10px;
      min-width: 0; /* Чтобы предотвратить переполнение */
      border-radius: var(--border-radius-m);
      overflow: hidden;
      .title {
        padding: 3rem 0 0 3rem;
        font: var(--font-l);
        margin-bottom: 1.5rem;
      }
      .text {
        padding: 0 3rem 1rem 3rem;
        font-size: 17px;
        margin-bottom: 1rem;

        // &:last-of-type { /* Изменение здесь */
        //   margin-bottom: 0; /* Убираем отступ для последнего элемента */
        // }
      }

      .link {
        padding: 0 0 1rem 3rem;
        font-weight: 300;
        color: #8d8787; /* Цвет ссылки */
        text-decoration: underline; /* Подчеркивание ссылки */
        transition: color 0.3s ease; /* Плавный переход цвета при наведении */
        &:hover {
          color: #0056b3; /* Цвет ссылки при наведении */
        }
      }

      .info {
        padding: 0 0 1rem 3rem;
        margin-top: 2.5rem;
        display: flex;
        &__item {
          width: 80%;
          margin: 0 auto;

          .value {
            font: var(--font-l);
          }
          .label {
          }
        }
        &:last-of-type {
          margin-top: 1rem;
          padding-bottom: 5rem;
        }
      }
    }
    &__video {
      position: relative;
      flex: 1;
      margin: 10px;

      min-width: 0;
      border-radius: var(--border-radius-m);
      overflow: hidden;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      video {
        height: 100%;
        pointer-events: none;
        object-fit: cover;
        pointer-events: none;
      }

      .sound {
        position: absolute;
        top: 42.5rem;
        right: 0.2rem;
        z-index: 10;
        background: none;
        border: none;
        cursor: pointer;
      }
      .image {
        width: 2rem;
      }
    }

    &__video video {
      // width: 100%;
      pointer-events: none; /* Отключение взаимодействия с контролами */
      transform: translateX(-20%);
    }
  }
}

@media (max-width: 1024px) {
  .content {
    .container {
      width: 95%;
      // margin: 0 auto;
      flex-direction: row;

      &__about,
      &__video {
        height: 50vw; /* Высота равна 90% от ширины экрана */
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      &__about {
        margin: 5px; // Уменьшение отступов
        // flex-basis: calc(50% - 1px); // Уменьшение ширины
        // height: 0;
        // padding-bottom: 100%;

        .title {
          padding: 1rem 0 0 2rem;
          // font-size: 15px;
          margin-bottom: 0;
          // margin-bottom: 0.5rem;
        }

        .text {
          padding: 1rem 0 0 2rem;
          font-size: 14px;
          margin-bottom: 0;

          // &:last-of-type { /* Изменение здесь */
          //   margin-bottom: 0; /* Убираем отступ для последнего элемента */
          // }
        }
        .info {
          margin-top: 1rem;
          padding: 1rem 0 0 2rem;
          &__item {
            // font-size: 14px;
            font: var(--font-ss);
          }
        }

        .link {
          padding: 0.5rem 0 0 2rem;
        }
      }

      &__video {
        margin: 5px; // Уменьшение отступов
        position: relative; // Для позиционирования контента

        .sound {
          position: absolute;
          top: 42.5rem;
          right: 0.2rem;
          z-index: 10;
          background: none;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .content {
    .container {
      flex-direction: column;

      &__about {
        .title {
          padding: 1rem 0 0 1rem;
          margin-bottom: 0.5rem;
        }

        .text {
          padding: 0 1rem 1rem 1rem;
          font-size: 14px;
          margin-bottom: 0.5rem;
        }

        .info {
          // margin-top: 0.5rem;
          // padding: 0 1rem 1rem 1rem;
          padding: 0 1rem 1rem 1rem;
          &__item {
            width: 90%;
            margin: 0 auto;

            .value {
              font: var(--font-l);
            }
            .label {
            }
          }
        }
      }

      .link {
        padding: 0 1rem 1rem 1rem;
      }

      &__video {
        // position: relative;
        height: 500px;
        flex: 1;
        margin: 10px;

        min-width: 0;

        border-radius: var(--border-radius-m);
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        height: 100px; // Установите нужную высоту

        // .sound {
        //   position: absolute;
        //   top: 60.5rem;
        //   right: 0.2rem;
        //   z-index: 10;
        //   background: none;
        //   border: none;
        //   cursor: pointer;
        // }

        .image {
          width: 2rem;
        }
      }

      &__video video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
      }
    }
  }
}
