.previewCalculator {
  width: 100vw;
  max-width: 100%;
  padding: 133px calc((100% - var(--desktop-width)) / 2);
  background-color: var(--gray-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 68px;

  &__img {
    flex: 1;
  }

  &__container {
    flex: 1;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    font-weight: 300;
    margin-bottom: 30px;
  }

  &__link {
    color: var(--white-text-color);
    font-weight: 300;
    text-decoration: underline;
  }
}
