<div class="previewCalculator">
  <img class="previewCalculator__img" src="/shared/assets/images/previewCalculator.png" />

  <div class="previewCalculator__container">
    <h2 class="pageTitle previewCalculator__title">
      Создайте свой идеальный интерьер с 3D-планировщиком
    </h2>
    <p class="previewCalculator__text">
      Наш 3D-планировщик позволяет вам моделировать мебель и видеть, как она будет выглядеть в вашей
      комнате. Попробуйте различные варианты размещения, цвета и стилей, чтобы найти идеальное
      сочетание для вашего пространства.
    </p>
    <a [routerLink]="routes.CALCULATOR" class="previewCalculator__link">Перейти в калькулятор</a>
  </div>
</div>
