:host {
  display: block;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  canvas {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

.dg .main {
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
  position: fixed !important;
  top: 10px !important;
  right: 10px !important;
  z-index: 9999 !important;
}
