.adminButton {
  display: block;
  width: fit-content;
  padding: 10px 40px;
  font-size: 16px;
  background-color: var(--admin-main);
  color: var(--admin-white);
  border-radius: var(--admin-radius-m);
  cursor: pointer;

  &.gray {
    background-color: var(--admin-gray);
  }
  &.red {
    background-color: var(--admin-red);
  }
}
