.entities {
  width: var(--desktop-width);
  margin: 0 auto;

  &__item {
    width: 150px;
    aspect-ratio: 1;
    position: relative;
    border-radius: 10px;
    overflow: hidden;

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      max-width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
