/* @font-face {
  font-family: "AvenirNext";
  font-style: normal;
  font-weight: 100;
  src: url("./AvenirNextCyr-UltraLight.woff2") format("woff2"), url("./AvenirNextCyr-UltraLight.woff") format("woff");
}

@font-face {
  font-family: "AvenirNext";
  font-style: normal;
  font-weight: 200;
  src: url("./AvenirNextCyr-Thin.woff2") format("woff2"), url("./AvenirNextCyr-Thin.woff") format("woff");
}

@font-face {
  font-family: "AvenirNext";
  font-style: normal;
  font-weight: 300;
  src: url("./AvenirNextCyr-Light.woff2") format("woff2"), url("./AvenirNextCyr-Light.woff") format("woff");
}
 */
@font-face {
  font-family: 'AvenirNext';
  font-style: normal;
  font-weight: 400;
  src:
    url('./AvenirNextCyr-Regular.woff2') format('woff2'),
    url('./AvenirNextCyr-Regular.woff') format('woff');
}

/* @font-face {
  font-family: "AvenirNext";
  font-style: normal;
  font-weight: 500;
  src: url("./AvenirNextCyr-Medium.woff2") format("woff2"), url("./AvenirNextCyr-Medium.woff") format("woff");
}

@font-face {
  font-family: "AvenirNext";
  font-style: normal;
  font-weight: 600;
  src: url("./AvenirNextCyr-Demi.woff2") format("woff2"), url("./AvenirNextCyr-Demi.woff") format("woff");
}

@font-face {
  font-family: "AvenirNext";
  font-style: normal;
  font-weight: 700;
  src: url("./AvenirNextCyr-Bold.woff2") format("woff2"), url("./AvenirNextCyr-Bold.woff") format("woff");
}

@font-face {
  font-family: "AvenirNext";
  font-style: normal;
  font-weight: 900;
  src: url("./AvenirNextCyr-Heavy.woff2") format("woff2"), url("./AvenirNextCyr-Heavy.woff") format("woff");
} */
